// compress: false, javascriptEnabled: true
/* --------------------------------------------------------------
/* MAIN LESS MIXINS AND FUNCTIONS - LESSHAT
-------------------------------------------------------------- */
@import 'less/_lesshat.less';
/* --------------------------------------------------------------
VARIABLES
-------------------------------------------------------------- */

@mainfont: 'Cabin', sans-serif;
;
@secondfont: 'Nunito Sans', sans-serif;
@black: #000000;
@white: #ffffff;
@hblue: #233F90;
@sblue: #95A8BC;
@sorange: #F96600;
@horange: #c75200;

/* --------------------------------------------------------------
BODY DEFAULTS
-------------------------------------------------------------- */
html,
body {
    height: 100%;
    scroll-behavior: smooth;
}


@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

body {
    position: relative;
    font-family: @mainfont;
    font-weight: 400;
    color: @hblue;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    .transition(all .2s ease-in-out);

    &:hover {
        text-decoration: none;
    }
}

.page-container {
    min-height: 75vh;
}

svg {
    width: 110px;
    display: block;
    margin: 40px auto;
    margin-top: 0;
}

.path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;

    &.circle {
        -webkit-animation: dash .9s ease-in-out;
        animation: dash .9s ease-in-out;
    }

    &.line {
        stroke-dashoffset: 1000;
        -webkit-animation: dash .9s .35s ease-in-out forwards;
        animation: dash .9s .35s ease-in-out forwards;
    }

    &.check {
        stroke-dashoffset: -100;
        -webkit-animation: dash-check .9s .35s ease-in-out forwards;
        animation: dash-check .9s .35s ease-in-out forwards;
    }
}



@-webkit-keyframes dash {
    0% {
        stroke-dashoffset: 1000;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: 1000;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@-webkit-keyframes dash-check {
    0% {
        stroke-dashoffset: -100;
    }

    100% {
        stroke-dashoffset: 900;
    }
}

@keyframes dash-check {
    0% {
        stroke-dashoffset: -100;
    }

    100% {
        stroke-dashoffset: 900;
    }
}


/* LOADER */
.loader {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.loader:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid @sorange;
    border-color: @sorange transparent @sorange transparent;
    animation: loader-spin 1.2s linear infinite;
}

@keyframes loader-spin {
    0% {
        .transform(rotate(0deg));
    }

    100% {
        .transform(rotate(360deg));
    }
}

@media (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1200px;
    }
}

.btn-special {
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-decoration: none;
    background-color: #fe5f55;
    border: 0 none;
    border-radius: 4px;
    outline: 0;
}

.btn-special:active {
    position: relative;
    top: 2px;
    box-shadow: 0 2px shade(#fe5f55, 20%);
}

.btn__inner {
    position: relative;
    z-index: 1;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    border: 0 none;
    outline: 0;
}

.btn__ink {
    position: absolute;
    display: block;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    -webkit-animation: ripple-effect-reverse 0.35s;
    animation: ripple-effect-reverse 0.35s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.btn__ink--active {
    -webkit-animation: ripple-effect 0.4s;
    animation: ripple-effect 0.4s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes ripple-effect {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    100% {
        -webkit-transform: scale(3.5);
        transform: scale(3.5);
    }
}

@keyframes ripple-effect {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    100% {
        -webkit-transform: scale(3.5);
        transform: scale(3.5);
    }
}

@-webkit-keyframes ripple-effect-reverse {
    0% {
        -webkit-transform: scale(3.5);
        transform: scale(3.5);
    }

    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@keyframes ripple-effect-reverse {
    0% {
        -webkit-transform: scale(3.5);
        transform: scale(3.5);
    }

    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@media (min-width: 1025px) {

    .modal-lg,
    .modal-xl {
        max-width: 991px;
    }
}

.modal-content {
    position: relative;
    border-radius: 30px;
}

.modal-header {
    padding: 1.5rem 1rem;
    padding-top: 2.5rem;
    position: relative;
    text-align: center;
    justify-content: center;
    border-bottom: 0;

    & h2 {
        font-size: 2.5rem;
        font-weight: 700;
    }

    & .close {
        position: absolute;
        z-index: 9;
        top: 20px;
        right: 20px;
        border-radius: 100%;
        padding: 0.05rem .5rem !important;
        padding-bottom: 0.2rem !important;
        background: black !important;
        color: white !important;
        margin: 0 !important;
    }
}



.contact-form-container {
    padding: 0 2.5rem;
    padding-bottom: 2rem;

    & .contact-form-item {
        padding: .5rem;

        & small {
            font-size: 0.9rem;
            font-weight: 600;
            color: #f96703;
        }

        & .form-control {
            min-height: auto;
            padding: 1.5rem 1rem;
            border: 0;
            background: #f1f1f1;
            margin-bottom: 5px;
            .placeholder(@hblue);
        }
    }

    & .contact-form-submit {
        padding: .5rem;

        & .btn-submit {
            width: 100%;
            border: 2px solid @hblue;
            color: @hblue;

            &:hover {
                background: @hblue;
                color: @white;
            }
        }
    }


}

.contact-form-result {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: @white;
    opacity: 1;
    z-index: 2;
    .display(flex);
    align-items: center;
    justify-content: center;
    flex-flow: column;
    .transition(z-index .2s ease-in-out 0, opacity .1s ease-in-out .1s);

    & h2 {
        color: @hblue;
        font-size: 2.4rem;
        line-height: 2.3rem;
        font-weight: 700;
    }

    & h4 {
        font-size: 1.7rem;
        margin-top: 2rem;
    }
}

.contact-form-result-hidden {
    z-index: -3;
    opacity: 0;
    .transition(z-index .2s ease-in-out .1s, opacity .1s ease-in-out 0);
}

.contact-form-response {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .9);
    opacity: 1;
    z-index: 2;
    .display(flex);
    align-items: center;
    justify-content: center;
    .transition(z-index .2s ease-in-out 0, opacity .1s ease-in-out .1s);
}

.contact-form-response-hidden {
    z-index: -3;
    opacity: 0;
    .transition(z-index .2s ease-in-out .1s, opacity .1s ease-in-out 0);
}

.plan-form-container {
    padding: 0;
    padding-bottom: 1rem;
    padding-right: 1rem;


}

.plan-info-form {
    & h2 {
        font-size: 1.5rem;
        text-align: center;
        font-weight: 700;
        margin-bottom: 1.5rem;
    }
}

.plan-info-modal {
    padding-right: 2rem;

    h2 {
        font-size: 2rem;
        text-align: left;
        font-weight: 700;
        margin-bottom: 2rem;
    }
}

/* --------------------------------------------------------------
1.- HEADER
-------------------------------------------------------------- */
.the-header {
    padding: 1rem 1rem;


    & .header-button {
        text-align: right;

        & .lang-selector {
            display: inline-block;
            margin-right: 10px;
            font-size: 1.2rem;
            font-weight: 400;
            vertical-align: middle;

            & a {
                color: @hblue;
                font-weight: 600;
                font-size: 1rem;
                margin: 0 5px;

                &:hover {
                    color: @horange;
                }
            }
        }

        & .btn-header {
            border: 2px solid @hblue;
            color: @hblue;
            font-weight: 600;
            .transition(all .4s ease-in-out);

            &:hover {
                background: @hblue;
                color: @white;
            }
        }
    }
}

/* --------------------------------------------------------------
2.- FOOTER
-------------------------------------------------------------- */
.the-footer {
    background: #FCF5EE;
    padding: 3rem 1rem;

    & .footer-item {
        font-size: 1.5rem;
        font-weight: 600;
        text-align: center;

        & ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        & img {
            margin: 0 10px;
        }

        & .fa {
            border: 2px solid @hblue;
            padding: 0.4rem 0.5rem;
            width: 40px;
            height: 40px;
            text-align: center;
            font-size: 1.4rem;
            border-radius: 100%;
            margin-right: 5px;
        }

        & h4 {
            font-size: 1.3rem;
            margin-bottom: 1rem;
            font-weight: 100;
            text-align: center;
        }

        & p {
            margin-bottom: 0;
        }
    }
}

.footer-copy {
    background: @hblue;
    color: @white;
    padding: 1.5rem 1rem;
    text-align: center;

    & h5 {
        font-size: 0.85rem;
        font-weight: 100;
        margin: 0;

        & a {
            color: @white;

            &:hover {
                color: @horange;
            }
        }

        & .footer-social {
            font-size: 1rem;
            margin-left: 10px;
        }
    }
}


/* --------------------------------------------------------------
3.- HOME
-------------------------------------------------------------- */
.hero-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -2;

    & img {
        width: 100%;
    }
}

.main-hero-container {
    padding: 7rem 1rem;
    overflow: hidden;

    & .hero-content {
        color: @hblue;
        padding-left: 13%;
        padding-right: 9%;
        font-size: 2.3rem;
        line-height: 2.3rem;

        & .main-title {
            position: relative;
            font-weight: 700;
            opacity: 1;
            margin: 0;
            margin-bottom: 1.5rem;
            font-size: 3.5rem;
            line-height: 3.5rem;
        }

        & .main-title .text-wrapper {
            position: relative;
            display: inline-block;
            padding-top: 0.2em;
            padding-right: 0.05em;
            padding-bottom: 0.1em;
            overflow: hidden;
        }

        & .main-title .letter {
            display: inline-block;
            line-height: 1em;
            opacity: 0;
        }

        & .btn-hero {

            background: @sorange;
            color: @white;
            display: block;
            margin: 0 auto;
            margin-top: 2rem;
            max-width: 145px;
            padding: 0.7rem;
            font-size: .9rem;
            font-weight: 600;
            text-transform: uppercase;
            .transition(all .4s ease-in-out);



            &:hover {
                color: @white;
            }
        }
    }

    & .hero-image {
        & .parallax {
            position: relative;
            width: 100%;
            max-width: 45vw;
            height: 520px;


            & .parallax-layer {
                position: absolute;
                width: 100%;
                height: 100%;
            }

            & .parallax-layer__1 {
                top: -14%;
                left: -8%;
                width: 48%;
                height: 65%;
                z-index: -1;
            }

            & .parallax-layer__2 {
                top: -7%;
                left: -3%;
            }

            & .parallax-layer__3 {
                bottom: -54%;
                right: 9%;
                width: 45%;
                z-index: -1;
            }
        }
    }
}

.partners-container {
    padding: 3rem 1rem;

    & h2 {
        text-transform: uppercase;
        font-size: 2.3rem;
        line-height: 2.3rem;
        font-weight: 700;
        text-align: center;
    }

    & .partners-item {
        text-align: center;
        padding: 3rem 1rem;
        padding-bottom: 1rem;
        position: relative;
        flex: 0 1 25%;

        & .partners-item-wrapper {
            position: relative;
            display: inline-block;

            & img {
                .transform(scale(1));
            }

            & .img-color {
                .transition(transform .2s ease-in-out, opacity 0s ease-in-out .1s);
                opacity: 0;
            }

            & .img-gray {
                .transition(transform .2s ease-in-out, opacity 0s ease-in-out .1s);
                position: absolute;
                top: 0;
                left: 0;
            }

            &:hover {
                & .img-gray {
                    .transition(transform .2s ease-in-out, opacity 0s ease-in-out 0s);
                    opacity: 0;
                }

                & .img-color {
                    .transition(transform .2s ease-in-out, opacity 0s ease-in-out 0s);
                    opacity: 1;
                    .transform(scale(1.2));
                }
            }
        }
    }
}

.services-container {
    position: relative;
    padding: 4rem 1rem;

    & .service-before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 32%;

        z-index: -1;
        will-change: transform;
    }

    & .service-after {
        content: '';
        position: absolute;
        bottom: -15%;
        right: 0;
        width: 40vw;

        z-index: -1;
        will-change: transform;
        text-align: right;
    }

    & .services-content {
        padding: 4rem 1rem;
        padding-top: 0;
    }

    & h2 {
        text-transform: uppercase;
        font-size: 2.3rem;
        line-height: 2.3rem;
        font-weight: 700;
        text-align: center;
    }

    & .service-item-wrapper {
        position: relative;
        max-height: 330px;
        padding: 4rem 1rem;
        background: #FFFFFF;
        border: 1px solid #F3F5F7;
        box-shadow: 0px 15px 20px #F7F5F3;
        border-radius: 30px;
        text-align: center;
        margin-bottom: 2rem;
        transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
        transform-style: preserve-3d;
        .transition(all .3s ease-in-out);


        &:hover {
            padding-top: 1rem;
            transform: translate3d(0px, 0px, 0px) scale3d(1.05, 1.05, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
            box-shadow: 0px 15px 20px #c7c7c7;

            & .service-item-front-wrapper img {
                max-height: 0;
                opacity: 0;
            }

            & .service-item-front-wrapper h3 {
                margin-top: 0;
                margin-bottom: 0;
            }

            & .service-item-back-wrapper {
                max-height: 400px;
                opacity: 1;
                z-index: 99999;
                .transition(max-height .1s ease-in-out, opacity .1s ease-in-out .4s);
            }

            & .service-item-front-chevron {
                display: none;
            }
        }

        & .service-item-front-wrapper {
            & img {
                .transition(all .08s ease-in-out);
                max-height: 300px;
            }

            & h3 {
                .transition(all .08s ease-in-out);
                font-size: 1.3rem;
                font-weight: 700;
                margin: 2rem 0;
            }
        }

        & .service-item-back-wrapper {
            cursor: pointer;
            max-height: 0;
            padding: 1.5rem;
            padding-top: 0;
            margin: 0;
            opacity: 0;
            z-index: -1;
            background: white;
            border-radius: 35px;
            .transition(max-height .1s ease-in-out, opacity .1s ease-in-out 0s);
        }



        & .service-item-front-chevron {
            .display(flex);
            align-items: center;
            justify-content: center;
            flex-flow: column;
            color: @sorange;
            cursor: pointer;
            position: absolute;
            bottom: 15px;
            left: 0;
            text-align: center;
            width: 100%;
            z-index: 2;

            & .fa {
                .transition(all .2s ease-in-out);
                overflow: hidden;
                max-height: 100px;
            }

            & span {
                .transition(max-height .3s ease-in-out);
                overflow: hidden;
                max-height: 0;
                font-size: 1.2rem;

                &:hover {
                    color: @horange;
                }
            }
        }
    }

    & .service-item-wrapper-open {
        z-index: 999;

        & .service-item-wrapper {
            transform: translate3d(0px, 0px, 0px) scale3d(1.05, 1.05, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
            box-shadow: 0px 15px 20px #c7c7c7;
        }

        & .service-item-back-wrapper {
            max-height: 400px;
            opacity: 1;
            z-index: 99999;
        }

        & .service-item-front-chevron {
            & .fa {
                opacity: 1 !important;
                max-height: 100px !important;
            }

            & span {
                opacity: 0;
                max-height: 0;
            }
        }
    }
}

.howto-container {
    padding: 4rem 1rem;

    & .services-content {
        padding: 3rem 1rem;
    }

    & h2 {
        text-transform: uppercase;
        font-size: 2.3rem;
        line-height: 2.3rem;
        font-weight: 700;
        text-align: center;
        margin-bottom: 3rem;
    }

    & .howto-steps-container {
        padding: 2rem 1rem;

        & .step-item {
            text-transform: uppercase;
            text-align: center;
            font-weight: 600;
            font-size: 1.1rem;

            & h3 {
                color: @sblue;
                position: relative;
                background: @white;
                font-size: 1.8rem;
                margin-bottom: 2rem;
                display: inline-block;
                padding: 0 1rem;

                &:after {
                    content: ' ';
                    position: absolute;
                    top: 50%;
                    left: 100%;
                    height: 1px;
                    width: 100%;
                    border-bottom: 2px dashed #c2d2e2;
                }

                & span {
                    background: @sblue;
                    color: @white;
                    height: 40px;
                    width: 40px;
                    display: inline-block;
                    border-radius: 100%;
                    padding-top: 1px;
                    text-align: center;
                    font-size: 2rem;
                    margin-left: 5px;
                }
            }
        }
    }

    & .row-steps {
        & .step-item:last-child {
            & h3 {
                &:after {
                    display: none;
                }
            }
        }
    }

}

.plans-container {
    padding: 4rem 1rem;
    position: relative;

    & .plans-background {
        position: absolute;
        top: -3vh;
        left: 0;
        width: 100%;
        z-index: -2;

        & img {
            width: 100%;
        }
    }

    & .plans-content {
        padding: 3rem 1rem;
    }

    & h2 {
        text-transform: uppercase;
        font-size: 2.3rem;
        line-height: 2.3rem;
        font-weight: 700;
        text-align: center;
        margin-bottom: 3rem;
    }

    & .plans-item {
        & .plans-item-wrapper {
            background: @white;
            border: 1px solid #FCF5EE;
            box-shadow: 0px 10px 20px rgba(224, 231, 237, 0.5);
            border-radius: 30px;
            padding: 3rem 1rem;
            text-align: center;
            transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
            transform-style: preserve-3d;
            .transition(all .2s ease-in-out);

            &:hover {
                transform: translate3d(0px, 0px, 0px) scale3d(1.01, 1.01, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                box-shadow: 0px 15px 20px #c7c7c7;
            }

            & h3 {
                font-size: 1.3rem;
                font-weight: 700;
                margin: 1.5rem 0;
            }

            & .plans-items-content {
                line-height: 1.8rem;
                font-size: 0.9rem;

                & ul {
                    text-align: left;
                }
            }

            & .plans-items-button {
                margin-top: 3rem;
            }

            & .btn-plan {
                background: @sorange;
                color: @white;
                text-transform: uppercase;
                font-size: .9rem;
                padding: 0.7rem 2.5rem;
                font-weight: 600;

                &:hover {
                    background: @horange;
                    color: @white;
                }
            }
        }
    }
}

.companies-container {
    padding: 4rem 1rem;

    & .companies-content {
        padding: 2rem 1rem;
    }

    & h2 {
        text-transform: uppercase;
        font-size: 2.3rem;
        line-height: 2.3rem;
        font-weight: 700;
        text-align: center;
        margin-bottom: 3rem;
    }

    & .companies-item-wrapper {
        position: relative;
        display: inline-block;

        & img {
            .transform(scale(1));
        }

        & .img-color {
            .transition(transform .2s ease-in-out, opacity 0s ease-in-out .1s);
            opacity: 0;
        }

        & .img-gray {
            .transition(transform .2s ease-in-out, opacity 0s ease-in-out .1s);
            position: absolute;
            top: 0;
            left: 0;
        }

        &:hover {
            & .img-gray {
                .transition(transform .2s ease-in-out, opacity 0s ease-in-out 0s);
                opacity: 0;
            }

            & .img-color {
                .transition(transform .2s ease-in-out, opacity 0s ease-in-out 0s);
                opacity: 1;
                .transform(scale(1.2));
            }
        }
    }
}


.testimonials-container {
    padding: 4rem 1rem;
    position: relative;

    & .testimonial-before {
        content: '';
        position: absolute;
        top: 65vh;
        left: 0;
        width: 50%;
        height: 80vh;
        z-index: -1;
    }

    & .testimonial-after {
        content: '';
        position: absolute;
        top: 25vh;
        right: 0;
        width: 90vw;
        height: auto;
        z-index: -1;
        text-align: right;
    }

    & .testimonials-slider-container {
        padding-top: 3rem;
        padding-bottom: 4rem;



        & .swiper-button-next {
            .transition(all .3s ease-in-out);

            &:hover {
                color: @horange;
                .transform(scale(1.2));
            }
        }


        & .swiper-button-prev:hover {
            .transition(all .3s ease-in-out);

            &:hover {
                color: @horange;
                .transform(scale(1.2));
            }
        }

    }


    & .testimonials-content {
        padding: 2rem 1rem;

        & h2 {
            font-size: 2.3rem;
            line-height: 2.3rem;
        }
    }

    & h2 {
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 700;
        text-align: center;
        margin-bottom: 3rem;
    }

    & .testimonial-logo {
        text-align: center;

        & img {
            max-width: 300px;
        }
    }

    & .testimonial-item-content {
        & .testimonial-item-title h2 {
            text-align: left;
            font-size: 1.5rem;
            font-weight: 400;
            margin-bottom: 1.5rem;

            & strong {
                font-size: 3.2rem;
                font-weight: 900;
            }
        }

        & h4 {
            font-size: 1.2rem;
            font-weight: 700;
            margin-bottom: 0.3rem;
        }

        & .testimonial-item-meta {
            margin-top: 2rem;
            margin-bottom: 1.5rem;
        }

        & .testimonial-item-stars {
            color: orange;
            font-size: 1.5rem;

            & .fa {
                opacity: 0;
                .transform(translateY(-20px));

                &:nth-child(1) {
                    .transition(all .3s ease-in-out);
                }

                &:nth-child(2) {
                    .transition(all .5s ease-in-out);
                }

                &:nth-child(3) {
                    .transition(all .6s ease-in-out);
                }

                &:nth-child(4) {
                    .transition(all .8s ease-in-out);
                }

                &:nth-child(5) {
                    .transition(all .9s ease-in-out);
                }

            }

        }
    }

    & .swiper-slide {
        padding-bottom: 3rem;
    }



    & .swiper-container-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        padding-left: 7.3rem;
    }

    & .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
    }

    & .swiper-slide-active {
        & .testimonial-item-stars {
            & .fa {
                opacity: 1;
                .transform(translateY(0));
            }
        }
    }

}



.about-container {
    padding: 4rem 1rem;

    & .about-content {
        padding: 2rem 1rem;
        text-align: center;
    }

    & h2 {
        text-transform: uppercase;
        font-size: 2.3rem;
        line-height: 2.3rem;
        font-weight: 700;
        text-align: center;
        margin-bottom: 1rem;
    }
}

.big-hero-container {
    position: relative;
    padding: 10rem 1rem;
    padding-bottom: 6rem;

    &:before {
        content: '';
        background: url('../images/footer-vector.png');
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 75vh;
        z-index: -1;
    }

    & .big-hero-content {
        padding: 2rem 1rem;
        text-align: center;
    }

    & .btn-hero {
        color: @white;
        background: @sorange;
        padding: 1rem 1.5rem;
        margin-top: 4rem;

        &:hover {
            color: @white;
            background: @horange;
        }
    }

    & h2 {
        font-size: 2.3rem;
        line-height: 2.3rem;
        font-weight: 700;
        text-align: center;
        margin-bottom: 1rem;
    }
}

.big-hero-certificate {
    padding-bottom: 0;
    text-align: center;

    & h3 {
        font-size: 1.5rem;
        font-weight: 300;
    }
}

.thanks-page-container {
    padding-top: 10vh;
    text-align: center;
    font-size: 1.5rem;
    min-height: 63vh;

    & h1 {
        font-size: 2.5rem;
        font-weight: 900;
    }
}