/* --------------------------------------------------------------
MEDIAQUERIES LG/MD - LAYOUTS BIGGER THAN 992px
-------------------------------------------------------------- */
@media (max-width: 1680px) {
  .main-hero-container .hero-content {
    padding-left: 5%;
    padding-right: 7%;
  }
}
@media (max-width: 1440px) {
  .main-hero-container .hero-image .parallax {
    width: 40vw;
    height: 45vh;
    position: relative;
  }
  .main-hero-container .hero-image .parallax .parallax-layer__2 {
    top: -14%;
    left: -3%;
    height: 120%;
  }
  .main-hero-container .hero-content {
    padding-left: 6%;
    padding-right: 4%;
  }
  .main-hero-container .hero-image .parallax .parallax-layer__1 {
    top: -24%;
    left: -8%;
  }
  .main-hero-container .hero-image .parallax .parallax-layer__3 {
    bottom: -54%;
    right: -6%;
  }
  .partners-container h2 {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
  .services-container h2 {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
  .howto-container h2 {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
  .plans-container h2 {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
  .companies-container h2 {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
  .testimonials-container .testimonials-content h2 {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
  .about-container h2 {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
  .big-hero-container h2 {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
}
@media (max-width: 1366px) {
  .testimonial-item-content {
    padding-right: 5%;
  }
  .the-footer .footer-item {
    font-size: 1.2rem;
  }
  .the-footer .footer-item img {
    max-width: 130px;
  }
  .main-hero-container .hero-image .parallax {
    width: 40vw;
    height: 54vh;
  }
  .main-hero-container .hero-image .parallax .parallax-layer__1 {
    top: -20%;
    left: -9%;
  }
  .main-hero-container .hero-image .parallax .parallax-layer__2 {
    top: -15%;
    left: -3%;
  }
  .main-hero-container .hero-image .parallax .parallax-layer__3 {
    bottom: -45%;
    right: -6%;
  }
  .main-hero-container .hero-content {
    padding-left: 6%;
    padding-right: 4%;
  }
  .partners-container .partners-item .partners-item-wrapper img {
    max-width: 170px;
  }
}
@media (max-width: 1280px) {
  .main-hero-container .hero-image .parallax {
    width: 35vw;
    height: 50vh;
    position: relative;
  }
  .main-hero-container .hero-image .parallax {
    width: 44vw;
    height: 50vh;
  }
  .main-hero-container .hero-content .main-title {
    font-size: 3rem;
    line-height: 3rem;
  }
  .main-hero-container .hero-content {
    font-size: 2rem;
    line-height: 2rem;
  }
  .partners-container h2 {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
  .services-container h2 {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
  .howto-container h2 {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
  .plans-container h2 {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
  .companies-container h2 {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
  .testimonials-container .testimonials-content h2 {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
  .about-container h2 {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
  .big-hero-container h2 {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
}
@media (max-width: 1170px) {
  .main-hero-container .hero-content {
    padding-right: 4%;
  }
  .services-container .service-item-wrapper .service-item-front-wrapper h3 {
    font-size: 1.1rem;
  }
  .howto-container .howto-steps-container .step-item {
    font-size: 0.9rem;
  }
  .testimonials-container .testimonial-item-content .testimonial-item-title h2 {
    font-size: 1.8rem;
  }
  .testimonial-after img {
    max-width: 60vw;
  }
  .main-hero-container .hero-image .parallax .parallax-layer__1 {
    top: -28%;
    left: -4%;
    width: 55%;
  }
  .main-hero-container .hero-image .parallax {
    width: 45vw;
    height: 53vh;
  }
  .main-hero-container .hero-image .parallax .parallax-layer__3 {
    bottom: -20%;
    right: 0%;
    width: 65%;
    height: 100%;
  }
  .services-container .service-item-wrapper .service-item-back-wrapper {
    font-size: 0.85rem;
  }
  .services-container .service-item-wrapper {
    max-height: 320px;
  }
  .main-hero-container .hero-content .main-title {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  .main-hero-container .hero-content {
    font-size: 1.6rem;
    line-height: 1.9rem;
  }
  .partners-container h2 {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
  .services-container h2 {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
  .howto-container h2 {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
  .plans-container h2 {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
  .companies-container h2 {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
  .testimonials-container .testimonials-content h2 {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
  .about-container h2 {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
  .big-hero-container h2 {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
  .main-hero-container .hero-content {
    padding-right: 2%;
    padding-left: 8%;
  }
}
@media (max-width: 1024px) {
  .main-hero-container .hero-content .main-title {
    font-size: 2.6rem;
    line-height: 3rem;
  }
  .main-hero-container .hero-content {
    font-size: 1.7rem;
    line-height: 2rem;
  }
}
/* --------------------------------------------------------------
MEDIAQUERIES SM - LAYOUTS BIGGER THAN 768px
-------------------------------------------------------------- */
@media (max-width: 991px) {
  .main-hero-container .hero-content {
    padding-right: 2%;
    padding-left: 5%;
  }
  .modal-dialog {
    max-width: calc(100% - 90px);
  }
  .service-before img {
    max-width: 40vw;
  }
  .main-hero-container .hero-content .main-title {
    font-size: 2.3rem;
    line-height: 2rem;
  }
  .service-after img {
    max-width: 40vw;
  }
  .main-hero-container .hero-content h1 {
    font-size: 2.2rem;
  }
  .main-hero-container .hero-image .parallax {
    width: 41vw;
    height: 26vh;
  }
  .main-hero-container .hero-content {
    font-size: 1.3rem;
    line-height: 1.8rem;
  }
  .partners-container .partners-gallery {
    flex-wrap: wrap;
  }
  .partners-container .partners-gallery img {
    max-width: 120px;
  }
  .services-container .service-item-wrapper .service-item-front-wrapper h3 {
    font-size: 0.9rem;
    margin: 1rem 0;
  }
  .step-item-wrapper {
    text-align: center;
  }
  .howto-container .howto-steps-container .step-item h3 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
    padding: 0;
  }
  .howto-container .howto-steps-container .step-item h3 span {
    display: block;
    margin-left: auto;
    margin: 0.5rem auto;
  }
  .plans-container h2 {
    font-size: 1.3rem;
    line-height: 1rem;
  }
  .plans-container .plans-item .plans-item-wrapper {
    border-radius: 30px;
    padding: 2rem 0.5rem;
  }
  .plans-item {
    padding: 0 0.5rem;
  }
  .testimonials-container {
    padding: 2rem 1rem;
  }
  .testimonials-container .testimonial-logo img {
    max-width: 70%;
  }
  .testimonial-item-content {
    padding-right: 0;
    font-size: 0.9rem;
  }
  .testimonials-container .testimonial-item-content .testimonial-item-title h2 {
    font-size: 1.3rem;
    line-height: 1rem;
  }
  .about-container h2 {
    font-size: 1.3rem;
    line-height: 1rem;
  }
  .partners-container h2 {
    font-size: 1.3rem;
    line-height: 1rem;
  }
  .testimonials-container .testimonials-content h2 {
    font-size: 1.3rem;
    line-height: 1rem;
  }
  .services-container h2 {
    font-size: 1.3rem;
    line-height: 1rem;
  }
  .howto-container h2 {
    font-size: 1.3rem;
    line-height: 1rem;
  }
  .companies-container h2 {
    font-size: 1.3rem;
    line-height: 1rem;
  }
  .big-hero-container h2 {
    font-size: 1.3rem;
    line-height: 1rem;
  }
  .testimonials-container .swiper-container-horizontal > .swiper-pagination-bullets,
  .testimonials-container .swiper-pagination-custom,
  .testimonials-container .swiper-pagination-fraction {
    padding-left: 0;
  }
  .about-container {
    padding: 2rem 1rem;
  }
  .big-hero-container {
    position: relative;
    padding: 3rem 1rem;
    padding-bottom: 2rem;
  }
  .big-hero-container:before {
    height: 25vh;
  }
  .the-footer .footer-item .fa {
    padding: 0.3rem 0.3rem;
    width: 30px;
    height: 30px;
    font-size: 0.9rem;
    margin-right: 5px;
  }
  .the-footer .footer-item {
    font-size: 0.9rem;
  }
  .main-hero-container .hero-image .parallax .parallax-layer__2 {
    top: -15%;
    left: -3%;
  }
  .services-container .service-item-wrapper:hover {
    margin-bottom: 4rem;
  }
  .services-container .service-item-wrapper .service-item-back-wrapper {
    font-size: 0.75rem;
    padding: 1rem 0.8rem;
    padding-top: 0;
  }
  .services-container .service-item-wrapper .service-item-back-wrapper {
    top: 50%;
  }
  .services-container .service-item-wrapper {
    max-height: 240px;
  }
  .partners-container .partners-item .partners-item-wrapper img {
    max-width: 140px;
  }
}
@media (max-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
  .thanks-page-container h1 {
    font-size: 2rem;
  }
}
/* --------------------------------------------------------------
MEDIAQUERIES XS - LAYOUTS LESS THAN 600px
-------------------------------------------------------------- */
@media (max-width: 600px) {
  .partners-container .partners-item {
    padding: 1rem 0rem;
  }
  .partners-container .partners-item .partners-item-wrapper img {
    max-width: 130px;
  }
  .plans-container {
    overflow: hidden;
  }
  .main-hero-container .hero-content {
    font-size: 1.6rem;
    line-height: 2.5rem;
    padding: 1rem 1rem;
    text-align: center;
    padding-bottom: 0;
  }
  .main-hero-container .hero-content .main-title {
    position: relative;
    font-size: 2.5rem;
  }
  .main-hero-container .hero-image .parallax {
    width: 100%;
    height: 50vh;
    max-width: 100%;
    margin-top: 3rem;
  }
  .main-hero-container .hero-image .parallax .parallax-layer__1 {
    top: -23%;
    left: -1%;
    width: 55%;
  }
  .main-hero-container .hero-image .parallax .parallax-layer__3 {
    bottom: 0%;
    right: -10%;
    width: 65%;
    height: 70%;
  }
  .main-hero-container .hero-image .parallax .parallax-layer__2 {
    top: -15%;
    left: -3%;
    height: 100%;
  }
  .partners-container h2 {
    font-size: 2.2rem;
    line-height: 2.8rem;
  }
  .partners-container .partners-gallery img {
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
  .services-container h2 {
    font-size: 1.8rem;
    line-height: 2rem;
  }
  .howto-container .howto-steps-container .step-item h3:after {
    top: 70%;
    width: 40vw;
  }
  .row-steps .step-item:nth-of-type(even) h3:after {
    display: none;
  }
  .plans-item {
    padding: 0 0.5rem;
    margin-bottom: 2rem;
  }
  .partners-item {
    text-align: center;
  }
  .testimonials-container .testimonial-logo img {
    max-width: 40vw;
  }
  .testimonial-item-content {
    padding: 0 1rem;
    font-size: 0.9rem;
    text-align: center;
  }
  .testimonials-container .testimonial-item-content .testimonial-item-title h2 {
    font-size: 1.5rem;
    text-align: center;
    line-height: 3rem;
  }
  .testimonials-container .swiper-container-horizontal > .swiper-pagination-bullets,
  .testimonials-container .swiper-pagination-custom,
  .testimonials-container .swiper-pagination-fraction {
    padding-left: 1rem;
  }
  .about-image {
    margin-bottom: 3rem;
  }
  .the-footer .footer-item {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 1.3rem;
  }
  .the-footer .footer-item img {
    max-width: 190px;
  }
  .footer-copy h5 {
    font-size: 0.9rem;
  }
  .modal-header h2 {
    font-size: 1.7rem;
  }
  .modal-header {
    padding: 1.5rem 1rem;
    padding-top: 2.5rem;
    padding-bottom: 0;
  }
  .modal-dialog {
    max-width: 100%;
  }
  .partners-container h2 {
    font-size: 1.8rem;
    line-height: 2rem;
  }
  .howto-container h2 {
    font-size: 1.8rem;
    line-height: 2rem;
  }
  .plans-container h2 {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }
  .about-container h2 {
    font-size: 1.8rem;
    line-height: 2.3rem;
  }
  .companies-container h2 {
    font-size: 1.6rem;
    line-height: 2.5rem;
  }
  .services-container .service-item-wrapper {
    max-height: 280px;
    padding: 4rem 0.5rem;
  }
}
@media (max-width: 533px) {
  .row-steps .step-item h3:after {
    display: none;
  }
  .partners-container .partners-item .partners-item-wrapper img {
    max-width: 160px;
    margin-bottom: -5rem;
  }
  .main-hero-container .hero-image .parallax {
    width: 100%;
    height: 45vh;
    position: relative;
  }
  .main-hero-container .hero-image .parallax .parallax-layer__1 {
    top: -20%;
    left: -2%;
    width: 46%;
    height: 100%;
  }
  .main-hero-container .hero-image .parallax .parallax-layer__3 {
    width: 60%;
    height: 70%;
  }
  .the-header .header-button .lang-selector {
    margin-right: 3px;
    margin-bottom: 0.5rem;
  }
}
@media (max-width: 414px) {
  .testimonials-container .testimonial-before img {
    max-width: 320px;
  }
  .services-container .service-item-wrapper {
    max-height: 270px;
    padding: 4rem 0.5rem;
  }
}
@media (max-width: 375px) {
  .main-hero-container .hero-content .main-title {
    font-size: 2rem;
  }
  .partners-container h2 {
    font-size: 1.7rem;
  }
}
