/* --------------------------------------------------------------
/* MAIN LESS MIXINS AND FUNCTIONS - LESSHAT
-------------------------------------------------------------- */
/* --------------------------------------------------------------
VARIABLES
-------------------------------------------------------------- */
/* --------------------------------------------------------------
BODY DEFAULTS
-------------------------------------------------------------- */
html,
body {
  height: 100%;
  scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
body {
  position: relative;
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  color: #233F90;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover {
  text-decoration: none;
}
.page-container {
  min-height: 75vh;
}
svg {
  width: 110px;
  display: block;
  margin: 40px auto;
  margin-top: 0;
}
.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
}
.path.circle {
  -webkit-animation: dash 0.9s ease-in-out;
  animation: dash 0.9s ease-in-out;
}
.path.line {
  stroke-dashoffset: 1000;
  -webkit-animation: dash 0.9s 0.35s ease-in-out forwards;
  animation: dash 0.9s 0.35s ease-in-out forwards;
}
.path.check {
  stroke-dashoffset: -100;
  -webkit-animation: dash-check 0.9s 0.35s ease-in-out forwards;
  animation: dash-check 0.9s 0.35s ease-in-out forwards;
}
@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}
@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}
/* LOADER */
.loader {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.loader:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #F96600;
  border-color: #F96600 transparent #F96600 transparent;
  animation: loader-spin 1.2s linear infinite;
}
@keyframes loader-spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1200px;
  }
}
.btn-special {
  position: relative;
  display: inline-block;
  overflow: hidden;
  text-decoration: none;
  background-color: #fe5f55;
  border: 0 none;
  border-radius: 4px;
  outline: 0;
}
.btn-special:active {
  position: relative;
  top: 2px;
  box-shadow: 0 2px #cb4c44;
}
.btn__inner {
  position: relative;
  z-index: 1;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  border: 0 none;
  outline: 0;
}
.btn__ink {
  position: absolute;
  display: block;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  -webkit-animation: ripple-effect-reverse 0.35s;
  animation: ripple-effect-reverse 0.35s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.btn__ink--active {
  -webkit-animation: ripple-effect 0.4s;
  animation: ripple-effect 0.4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes ripple-effect {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(3.5);
    transform: scale(3.5);
  }
}
@keyframes ripple-effect {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(3.5);
    transform: scale(3.5);
  }
}
@-webkit-keyframes ripple-effect-reverse {
  0% {
    -webkit-transform: scale(3.5);
    transform: scale(3.5);
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
@keyframes ripple-effect-reverse {
  0% {
    -webkit-transform: scale(3.5);
    transform: scale(3.5);
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
@media (min-width: 1025px) {
  .modal-lg,
  .modal-xl {
    max-width: 991px;
  }
}
.modal-content {
  position: relative;
  border-radius: 30px;
}
.modal-header {
  padding: 1.5rem 1rem;
  padding-top: 2.5rem;
  position: relative;
  text-align: center;
  justify-content: center;
  border-bottom: 0;
}
.modal-header h2 {
  font-size: 2.5rem;
  font-weight: 700;
}
.modal-header .close {
  position: absolute;
  z-index: 9;
  top: 20px;
  right: 20px;
  border-radius: 100%;
  padding: 0.05rem 0.5rem !important;
  padding-bottom: 0.2rem !important;
  background: black !important;
  color: white !important;
  margin: 0 !important;
}
.contact-form-container {
  padding: 0 2.5rem;
  padding-bottom: 2rem;
}
.contact-form-container .contact-form-item {
  padding: 0.5rem;
}
.contact-form-container .contact-form-item small {
  font-size: 0.9rem;
  font-weight: 600;
  color: #f96703;
}
.contact-form-container .contact-form-item .form-control {
  min-height: auto;
  padding: 1.5rem 1rem;
  border: 0;
  background: #f1f1f1;
  margin-bottom: 5px;
}
.contact-form-container .contact-form-item .form-control::-webkit-input-placeholder {
  color: #233F90;
}
.contact-form-container .contact-form-item .form-control:-moz-placeholder {
  color: #233F90;
}
.contact-form-container .contact-form-item .form-control::-moz-placeholder {
  color: #233F90;
}
.contact-form-container .contact-form-item .form-control:-ms-input-placeholder {
  color: #233F90;
}
.contact-form-container .contact-form-submit {
  padding: 0.5rem;
}
.contact-form-container .contact-form-submit .btn-submit {
  width: 100%;
  border: 2px solid #233F90;
  color: #233F90;
}
.contact-form-container .contact-form-submit .btn-submit:hover {
  background: #233F90;
  color: #ffffff;
}
.contact-form-result {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  opacity: 1;
  z-index: 2;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  -webkit-transition: z-index 0.2s ease-in-out 0, opacity 0.1s ease-in-out 0.1s;
  -moz-transition: z-index 0.2s ease-in-out 0, opacity 0.1s ease-in-out 0.1s;
  -o-transition: z-index 0.2s ease-in-out 0, opacity 0.1s ease-in-out 0.1s;
  transition: z-index 0.2s ease-in-out 0, opacity 0.1s ease-in-out 0.1s;
}
.contact-form-result h2 {
  color: #233F90;
  font-size: 2.4rem;
  line-height: 2.3rem;
  font-weight: 700;
}
.contact-form-result h4 {
  font-size: 1.7rem;
  margin-top: 2rem;
}
.contact-form-result-hidden {
  z-index: -3;
  opacity: 0;
  -webkit-transition: z-index 0.2s ease-in-out 0.1s, opacity 0.1s ease-in-out 0;
  -moz-transition: z-index 0.2s ease-in-out 0.1s, opacity 0.1s ease-in-out 0;
  -o-transition: z-index 0.2s ease-in-out 0.1s, opacity 0.1s ease-in-out 0;
  transition: z-index 0.2s ease-in-out 0.1s, opacity 0.1s ease-in-out 0;
}
.contact-form-response {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  opacity: 1;
  z-index: 2;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transition: z-index 0.2s ease-in-out 0, opacity 0.1s ease-in-out 0.1s;
  -moz-transition: z-index 0.2s ease-in-out 0, opacity 0.1s ease-in-out 0.1s;
  -o-transition: z-index 0.2s ease-in-out 0, opacity 0.1s ease-in-out 0.1s;
  transition: z-index 0.2s ease-in-out 0, opacity 0.1s ease-in-out 0.1s;
}
.contact-form-response-hidden {
  z-index: -3;
  opacity: 0;
  -webkit-transition: z-index 0.2s ease-in-out 0.1s, opacity 0.1s ease-in-out 0;
  -moz-transition: z-index 0.2s ease-in-out 0.1s, opacity 0.1s ease-in-out 0;
  -o-transition: z-index 0.2s ease-in-out 0.1s, opacity 0.1s ease-in-out 0;
  transition: z-index 0.2s ease-in-out 0.1s, opacity 0.1s ease-in-out 0;
}
.plan-form-container {
  padding: 0;
  padding-bottom: 1rem;
  padding-right: 1rem;
}
.plan-info-form h2 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.plan-info-modal {
  padding-right: 2rem;
}
.plan-info-modal h2 {
  font-size: 2rem;
  text-align: left;
  font-weight: 700;
  margin-bottom: 2rem;
}
/* --------------------------------------------------------------
1.- HEADER
-------------------------------------------------------------- */
.the-header {
  padding: 1rem 1rem;
}
.the-header .header-button {
  text-align: right;
}
.the-header .header-button .lang-selector {
  display: inline-block;
  margin-right: 10px;
  font-size: 1.2rem;
  font-weight: 400;
  vertical-align: middle;
}
.the-header .header-button .lang-selector a {
  color: #233F90;
  font-weight: 600;
  font-size: 1rem;
  margin: 0 5px;
}
.the-header .header-button .lang-selector a:hover {
  color: #c75200;
}
.the-header .header-button .btn-header {
  border: 2px solid #233F90;
  color: #233F90;
  font-weight: 600;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.the-header .header-button .btn-header:hover {
  background: #233F90;
  color: #ffffff;
}
/* --------------------------------------------------------------
2.- FOOTER
-------------------------------------------------------------- */
.the-footer {
  background: #FCF5EE;
  padding: 3rem 1rem;
}
.the-footer .footer-item {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}
.the-footer .footer-item ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.the-footer .footer-item img {
  margin: 0 10px;
}
.the-footer .footer-item .fa {
  border: 2px solid #233F90;
  padding: 0.4rem 0.5rem;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 1.4rem;
  border-radius: 100%;
  margin-right: 5px;
}
.the-footer .footer-item h4 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  font-weight: 100;
  text-align: center;
}
.the-footer .footer-item p {
  margin-bottom: 0;
}
.footer-copy {
  background: #233F90;
  color: #ffffff;
  padding: 1.5rem 1rem;
  text-align: center;
}
.footer-copy h5 {
  font-size: 0.85rem;
  font-weight: 100;
  margin: 0;
}
.footer-copy h5 a {
  color: #ffffff;
}
.footer-copy h5 a:hover {
  color: #c75200;
}
.footer-copy h5 .footer-social {
  font-size: 1rem;
  margin-left: 10px;
}
/* --------------------------------------------------------------
3.- HOME
-------------------------------------------------------------- */
.hero-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -2;
}
.hero-background img {
  width: 100%;
}
.main-hero-container {
  padding: 7rem 1rem;
  overflow: hidden;
}
.main-hero-container .hero-content {
  color: #233F90;
  padding-left: 13%;
  padding-right: 9%;
  font-size: 2.3rem;
  line-height: 2.3rem;
}
.main-hero-container .hero-content .main-title {
  position: relative;
  font-weight: 700;
  opacity: 1;
  margin: 0;
  margin-bottom: 1.5rem;
  font-size: 3.5rem;
  line-height: 3.5rem;
}
.main-hero-container .hero-content .main-title .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}
.main-hero-container .hero-content .main-title .letter {
  display: inline-block;
  line-height: 1em;
  opacity: 0;
}
.main-hero-container .hero-content .btn-hero {
  background: #F96600;
  color: #ffffff;
  display: block;
  margin: 0 auto;
  margin-top: 2rem;
  max-width: 145px;
  padding: 0.7rem;
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.main-hero-container .hero-content .btn-hero:hover {
  color: #ffffff;
}
.main-hero-container .hero-image .parallax {
  position: relative;
  width: 100%;
  max-width: 45vw;
  height: 520px;
}
.main-hero-container .hero-image .parallax .parallax-layer {
  position: absolute;
  width: 100%;
  height: 100%;
}
.main-hero-container .hero-image .parallax .parallax-layer__1 {
  top: -14%;
  left: -8%;
  width: 48%;
  height: 65%;
  z-index: -1;
}
.main-hero-container .hero-image .parallax .parallax-layer__2 {
  top: -7%;
  left: -3%;
}
.main-hero-container .hero-image .parallax .parallax-layer__3 {
  bottom: -54%;
  right: 9%;
  width: 45%;
  z-index: -1;
}
.partners-container {
  padding: 3rem 1rem;
}
.partners-container h2 {
  text-transform: uppercase;
  font-size: 2.3rem;
  line-height: 2.3rem;
  font-weight: 700;
  text-align: center;
}
.partners-container .partners-item {
  text-align: center;
  padding: 3rem 1rem;
  padding-bottom: 1rem;
  position: relative;
  flex: 0 1 25%;
}
.partners-container .partners-item .partners-item-wrapper {
  position: relative;
  display: inline-block;
}
.partners-container .partners-item .partners-item-wrapper img {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.partners-container .partners-item .partners-item-wrapper .img-color {
  -webkit-transition: -webkit-transform 0.2s ease-in-out, opacity 0s ease-in-out 0.1s;
  -moz-transition: -moz-transform 0.2s ease-in-out, opacity 0s ease-in-out 0.1s;
  -o-transition: -o-transform 0.2s ease-in-out, opacity 0s ease-in-out 0.1s;
  transition: -webkit-transform 0.2s ease-in-out,-moz-transform 0.2s ease-in-out,-o-transform 0.2s ease-in-out,transform 0.2s ease-in-out, opacity 0s ease-in-out 0.1s;
  opacity: 0;
}
.partners-container .partners-item .partners-item-wrapper .img-gray {
  -webkit-transition: -webkit-transform 0.2s ease-in-out, opacity 0s ease-in-out 0.1s;
  -moz-transition: -moz-transform 0.2s ease-in-out, opacity 0s ease-in-out 0.1s;
  -o-transition: -o-transform 0.2s ease-in-out, opacity 0s ease-in-out 0.1s;
  transition: -webkit-transform 0.2s ease-in-out,-moz-transform 0.2s ease-in-out,-o-transform 0.2s ease-in-out,transform 0.2s ease-in-out, opacity 0s ease-in-out 0.1s;
  position: absolute;
  top: 0;
  left: 0;
}
.partners-container .partners-item .partners-item-wrapper:hover .img-gray {
  -webkit-transition: -webkit-transform 0.2s ease-in-out, opacity 0s ease-in-out 0s;
  -moz-transition: -moz-transform 0.2s ease-in-out, opacity 0s ease-in-out 0s;
  -o-transition: -o-transform 0.2s ease-in-out, opacity 0s ease-in-out 0s;
  transition: -webkit-transform 0.2s ease-in-out,-moz-transform 0.2s ease-in-out,-o-transform 0.2s ease-in-out,transform 0.2s ease-in-out, opacity 0s ease-in-out 0s;
  opacity: 0;
}
.partners-container .partners-item .partners-item-wrapper:hover .img-color {
  -webkit-transition: -webkit-transform 0.2s ease-in-out, opacity 0s ease-in-out 0s;
  -moz-transition: -moz-transform 0.2s ease-in-out, opacity 0s ease-in-out 0s;
  -o-transition: -o-transform 0.2s ease-in-out, opacity 0s ease-in-out 0s;
  transition: -webkit-transform 0.2s ease-in-out,-moz-transform 0.2s ease-in-out,-o-transform 0.2s ease-in-out,transform 0.2s ease-in-out, opacity 0s ease-in-out 0s;
  opacity: 1;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.services-container {
  position: relative;
  padding: 4rem 1rem;
}
.services-container .service-before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 32%;
  z-index: -1;
  will-change: transform;
}
.services-container .service-after {
  content: '';
  position: absolute;
  bottom: -15%;
  right: 0;
  width: 40vw;
  z-index: -1;
  will-change: transform;
  text-align: right;
}
.services-container .services-content {
  padding: 4rem 1rem;
  padding-top: 0;
}
.services-container h2 {
  text-transform: uppercase;
  font-size: 2.3rem;
  line-height: 2.3rem;
  font-weight: 700;
  text-align: center;
}
.services-container .service-item-wrapper {
  position: relative;
  max-height: 330px;
  padding: 4rem 1rem;
  background: #FFFFFF;
  border: 1px solid #F3F5F7;
  box-shadow: 0px 15px 20px #F7F5F3;
  border-radius: 30px;
  text-align: center;
  margin-bottom: 2rem;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.services-container .service-item-wrapper:hover {
  padding-top: 1rem;
  transform: translate3d(0px, 0px, 0px) scale3d(1.05, 1.05, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  box-shadow: 0px 15px 20px #c7c7c7;
}
.services-container .service-item-wrapper:hover .service-item-front-wrapper img {
  max-height: 0;
  opacity: 0;
}
.services-container .service-item-wrapper:hover .service-item-front-wrapper h3 {
  margin-top: 0;
  margin-bottom: 0;
}
.services-container .service-item-wrapper:hover .service-item-back-wrapper {
  max-height: 400px;
  opacity: 1;
  z-index: 99999;
  -webkit-transition: max-height 0.1s ease-in-out, opacity 0.1s ease-in-out 0.4s;
  -moz-transition: max-height 0.1s ease-in-out, opacity 0.1s ease-in-out 0.4s;
  -o-transition: max-height 0.1s ease-in-out, opacity 0.1s ease-in-out 0.4s;
  transition: max-height 0.1s ease-in-out, opacity 0.1s ease-in-out 0.4s;
}
.services-container .service-item-wrapper:hover .service-item-front-chevron {
  display: none;
}
.services-container .service-item-wrapper .service-item-front-wrapper img {
  -webkit-transition: all 0.08s ease-in-out;
  -moz-transition: all 0.08s ease-in-out;
  -o-transition: all 0.08s ease-in-out;
  transition: all 0.08s ease-in-out;
  max-height: 300px;
}
.services-container .service-item-wrapper .service-item-front-wrapper h3 {
  -webkit-transition: all 0.08s ease-in-out;
  -moz-transition: all 0.08s ease-in-out;
  -o-transition: all 0.08s ease-in-out;
  transition: all 0.08s ease-in-out;
  font-size: 1.3rem;
  font-weight: 700;
  margin: 2rem 0;
}
.services-container .service-item-wrapper .service-item-back-wrapper {
  cursor: pointer;
  max-height: 0;
  padding: 1.5rem;
  padding-top: 0;
  margin: 0;
  opacity: 0;
  z-index: -1;
  background: white;
  border-radius: 35px;
  -webkit-transition: max-height 0.1s ease-in-out, opacity 0.1s ease-in-out 0s;
  -moz-transition: max-height 0.1s ease-in-out, opacity 0.1s ease-in-out 0s;
  -o-transition: max-height 0.1s ease-in-out, opacity 0.1s ease-in-out 0s;
  transition: max-height 0.1s ease-in-out, opacity 0.1s ease-in-out 0s;
}
.services-container .service-item-wrapper .service-item-front-chevron {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  color: #F96600;
  cursor: pointer;
  position: absolute;
  bottom: 15px;
  left: 0;
  text-align: center;
  width: 100%;
  z-index: 2;
}
.services-container .service-item-wrapper .service-item-front-chevron .fa {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  max-height: 100px;
}
.services-container .service-item-wrapper .service-item-front-chevron span {
  -webkit-transition: max-height 0.3s ease-in-out;
  -moz-transition: max-height 0.3s ease-in-out;
  -o-transition: max-height 0.3s ease-in-out;
  transition: max-height 0.3s ease-in-out;
  overflow: hidden;
  max-height: 0;
  font-size: 1.2rem;
}
.services-container .service-item-wrapper .service-item-front-chevron span:hover {
  color: #c75200;
}
.services-container .service-item-wrapper-open {
  z-index: 999;
}
.services-container .service-item-wrapper-open .service-item-wrapper {
  transform: translate3d(0px, 0px, 0px) scale3d(1.05, 1.05, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  box-shadow: 0px 15px 20px #c7c7c7;
}
.services-container .service-item-wrapper-open .service-item-back-wrapper {
  max-height: 400px;
  opacity: 1;
  z-index: 99999;
}
.services-container .service-item-wrapper-open .service-item-front-chevron .fa {
  opacity: 1 !important;
  max-height: 100px !important;
}
.services-container .service-item-wrapper-open .service-item-front-chevron span {
  opacity: 0;
  max-height: 0;
}
.howto-container {
  padding: 4rem 1rem;
}
.howto-container .services-content {
  padding: 3rem 1rem;
}
.howto-container h2 {
  text-transform: uppercase;
  font-size: 2.3rem;
  line-height: 2.3rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 3rem;
}
.howto-container .howto-steps-container {
  padding: 2rem 1rem;
}
.howto-container .howto-steps-container .step-item {
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  font-size: 1.1rem;
}
.howto-container .howto-steps-container .step-item h3 {
  color: #95A8BC;
  position: relative;
  background: #ffffff;
  font-size: 1.8rem;
  margin-bottom: 2rem;
  display: inline-block;
  padding: 0 1rem;
}
.howto-container .howto-steps-container .step-item h3:after {
  content: ' ';
  position: absolute;
  top: 50%;
  left: 100%;
  height: 1px;
  width: 100%;
  border-bottom: 2px dashed #c2d2e2;
}
.howto-container .howto-steps-container .step-item h3 span {
  background: #95A8BC;
  color: #ffffff;
  height: 40px;
  width: 40px;
  display: inline-block;
  border-radius: 100%;
  padding-top: 1px;
  text-align: center;
  font-size: 2rem;
  margin-left: 5px;
}
.howto-container .row-steps .step-item:last-child h3:after {
  display: none;
}
.plans-container {
  padding: 4rem 1rem;
  position: relative;
}
.plans-container .plans-background {
  position: absolute;
  top: -3vh;
  left: 0;
  width: 100%;
  z-index: -2;
}
.plans-container .plans-background img {
  width: 100%;
}
.plans-container .plans-content {
  padding: 3rem 1rem;
}
.plans-container h2 {
  text-transform: uppercase;
  font-size: 2.3rem;
  line-height: 2.3rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 3rem;
}
.plans-container .plans-item .plans-item-wrapper {
  background: #ffffff;
  border: 1px solid #FCF5EE;
  box-shadow: 0px 10px 20px rgba(224, 231, 237, 0.5);
  border-radius: 30px;
  padding: 3rem 1rem;
  text-align: center;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.plans-container .plans-item .plans-item-wrapper:hover {
  transform: translate3d(0px, 0px, 0px) scale3d(1.01, 1.01, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  box-shadow: 0px 15px 20px #c7c7c7;
}
.plans-container .plans-item .plans-item-wrapper h3 {
  font-size: 1.3rem;
  font-weight: 700;
  margin: 1.5rem 0;
}
.plans-container .plans-item .plans-item-wrapper .plans-items-content {
  line-height: 1.8rem;
  font-size: 0.9rem;
}
.plans-container .plans-item .plans-item-wrapper .plans-items-content ul {
  text-align: left;
}
.plans-container .plans-item .plans-item-wrapper .plans-items-button {
  margin-top: 3rem;
}
.plans-container .plans-item .plans-item-wrapper .btn-plan {
  background: #F96600;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 0.9rem;
  padding: 0.7rem 2.5rem;
  font-weight: 600;
}
.plans-container .plans-item .plans-item-wrapper .btn-plan:hover {
  background: #c75200;
  color: #ffffff;
}
.companies-container {
  padding: 4rem 1rem;
}
.companies-container .companies-content {
  padding: 2rem 1rem;
}
.companies-container h2 {
  text-transform: uppercase;
  font-size: 2.3rem;
  line-height: 2.3rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 3rem;
}
.companies-container .companies-item-wrapper {
  position: relative;
  display: inline-block;
}
.companies-container .companies-item-wrapper img {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.companies-container .companies-item-wrapper .img-color {
  -webkit-transition: -webkit-transform 0.2s ease-in-out, opacity 0s ease-in-out 0.1s;
  -moz-transition: -moz-transform 0.2s ease-in-out, opacity 0s ease-in-out 0.1s;
  -o-transition: -o-transform 0.2s ease-in-out, opacity 0s ease-in-out 0.1s;
  transition: -webkit-transform 0.2s ease-in-out,-moz-transform 0.2s ease-in-out,-o-transform 0.2s ease-in-out,transform 0.2s ease-in-out, opacity 0s ease-in-out 0.1s;
  opacity: 0;
}
.companies-container .companies-item-wrapper .img-gray {
  -webkit-transition: -webkit-transform 0.2s ease-in-out, opacity 0s ease-in-out 0.1s;
  -moz-transition: -moz-transform 0.2s ease-in-out, opacity 0s ease-in-out 0.1s;
  -o-transition: -o-transform 0.2s ease-in-out, opacity 0s ease-in-out 0.1s;
  transition: -webkit-transform 0.2s ease-in-out,-moz-transform 0.2s ease-in-out,-o-transform 0.2s ease-in-out,transform 0.2s ease-in-out, opacity 0s ease-in-out 0.1s;
  position: absolute;
  top: 0;
  left: 0;
}
.companies-container .companies-item-wrapper:hover .img-gray {
  -webkit-transition: -webkit-transform 0.2s ease-in-out, opacity 0s ease-in-out 0s;
  -moz-transition: -moz-transform 0.2s ease-in-out, opacity 0s ease-in-out 0s;
  -o-transition: -o-transform 0.2s ease-in-out, opacity 0s ease-in-out 0s;
  transition: -webkit-transform 0.2s ease-in-out,-moz-transform 0.2s ease-in-out,-o-transform 0.2s ease-in-out,transform 0.2s ease-in-out, opacity 0s ease-in-out 0s;
  opacity: 0;
}
.companies-container .companies-item-wrapper:hover .img-color {
  -webkit-transition: -webkit-transform 0.2s ease-in-out, opacity 0s ease-in-out 0s;
  -moz-transition: -moz-transform 0.2s ease-in-out, opacity 0s ease-in-out 0s;
  -o-transition: -o-transform 0.2s ease-in-out, opacity 0s ease-in-out 0s;
  transition: -webkit-transform 0.2s ease-in-out,-moz-transform 0.2s ease-in-out,-o-transform 0.2s ease-in-out,transform 0.2s ease-in-out, opacity 0s ease-in-out 0s;
  opacity: 1;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.testimonials-container {
  padding: 4rem 1rem;
  position: relative;
}
.testimonials-container .testimonial-before {
  content: '';
  position: absolute;
  top: 65vh;
  left: 0;
  width: 50%;
  height: 80vh;
  z-index: -1;
}
.testimonials-container .testimonial-after {
  content: '';
  position: absolute;
  top: 25vh;
  right: 0;
  width: 90vw;
  height: auto;
  z-index: -1;
  text-align: right;
}
.testimonials-container .testimonials-slider-container {
  padding-top: 3rem;
  padding-bottom: 4rem;
}
.testimonials-container .testimonials-slider-container .swiper-button-next {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.testimonials-container .testimonials-slider-container .swiper-button-next:hover {
  color: #c75200;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.testimonials-container .testimonials-slider-container .swiper-button-prev:hover {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.testimonials-container .testimonials-slider-container .swiper-button-prev:hover:hover {
  color: #c75200;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.testimonials-container .testimonials-content {
  padding: 2rem 1rem;
}
.testimonials-container .testimonials-content h2 {
  font-size: 2.3rem;
  line-height: 2.3rem;
}
.testimonials-container h2 {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 3rem;
}
.testimonials-container .testimonial-logo {
  text-align: center;
}
.testimonials-container .testimonial-logo img {
  max-width: 300px;
}
.testimonials-container .testimonial-item-content .testimonial-item-title h2 {
  text-align: left;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}
.testimonials-container .testimonial-item-content .testimonial-item-title h2 strong {
  font-size: 3.2rem;
  font-weight: 900;
}
.testimonials-container .testimonial-item-content h4 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.3rem;
}
.testimonials-container .testimonial-item-content .testimonial-item-meta {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}
.testimonials-container .testimonial-item-content .testimonial-item-stars {
  color: orange;
  font-size: 1.5rem;
}
.testimonials-container .testimonial-item-content .testimonial-item-stars .fa {
  opacity: 0;
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
  transform: translateY(-20px);
}
.testimonials-container .testimonial-item-content .testimonial-item-stars .fa:nth-child(1) {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.testimonials-container .testimonial-item-content .testimonial-item-stars .fa:nth-child(2) {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.testimonials-container .testimonial-item-content .testimonial-item-stars .fa:nth-child(3) {
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
.testimonials-container .testimonial-item-content .testimonial-item-stars .fa:nth-child(4) {
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}
.testimonials-container .testimonial-item-content .testimonial-item-stars .fa:nth-child(5) {
  -webkit-transition: all 0.9s ease-in-out;
  -moz-transition: all 0.9s ease-in-out;
  -o-transition: all 0.9s ease-in-out;
  transition: all 0.9s ease-in-out;
}
.testimonials-container .swiper-slide {
  padding-bottom: 3rem;
}
.testimonials-container .swiper-container-horizontal > .swiper-pagination-bullets,
.testimonials-container .swiper-pagination-custom,
.testimonials-container .swiper-pagination-fraction {
  padding-left: 7.3rem;
}
.testimonials-container .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
}
.testimonials-container .swiper-slide-active .testimonial-item-stars .fa {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}
.about-container {
  padding: 4rem 1rem;
}
.about-container .about-content {
  padding: 2rem 1rem;
  text-align: center;
}
.about-container h2 {
  text-transform: uppercase;
  font-size: 2.3rem;
  line-height: 2.3rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1rem;
}
.big-hero-container {
  position: relative;
  padding: 10rem 1rem;
  padding-bottom: 6rem;
}
.big-hero-container:before {
  content: '';
  background: url('../images/footer-vector.png');
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 75vh;
  z-index: -1;
}
.big-hero-container .big-hero-content {
  padding: 2rem 1rem;
  text-align: center;
}
.big-hero-container .btn-hero {
  color: #ffffff;
  background: #F96600;
  padding: 1rem 1.5rem;
  margin-top: 4rem;
}
.big-hero-container .btn-hero:hover {
  color: #ffffff;
  background: #c75200;
}
.big-hero-container h2 {
  font-size: 2.3rem;
  line-height: 2.3rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1rem;
}
.big-hero-certificate {
  padding-bottom: 0;
  text-align: center;
}
.big-hero-certificate h3 {
  font-size: 1.5rem;
  font-weight: 300;
}
.thanks-page-container {
  padding-top: 10vh;
  text-align: center;
  font-size: 1.5rem;
  min-height: 63vh;
}
.thanks-page-container h1 {
  font-size: 2.5rem;
  font-weight: 900;
}
